body{
    background-color: #71b371a9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(#3cd681, #2b975b, #1a5d38);
    color: #fff;
    text-align: center;
}

header nav li {
    display: inline;
}